# Proyecto Sprint 11: Aprendizaje automático en negocios

## Introducción 

En este proyecto, trabajamos para OilyGiant, una compañía de extracción de petróleo. Nuestro objetivo es encontrar las mejores ubicaciones para abrir 200 nuevos pozos utilizando modelos de regresión lineal.  

Para ello, analizaremos datos geológicos de tres regiones y crearemos un modelo que prediga el volumen de reservas en cada pozo. Luego, seleccionaremos los 200 pozos más rentables en cada región y estimaremos su beneficio total. Finalmente, utilizaremos bootstrapping para evaluar riesgos y asegurarnos de elegir la mejor región con máxima rentabilidad y mínimo riesgo.

In [2]:
# Librerias
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [3]:
# cargar los datos
df0 = pd.read_csv('/datasets/geo_data_0.csv')
df1 = pd.read_csv('/datasets/geo_data_1.csv')
df2 = pd.read_csv('/datasets/geo_data_2.csv')

## Análisis exploratorio de datos

In [4]:
df0.info()
print()
df1.info()
print()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

In [5]:
df0.head()

      id        f0        f1        f2     product
0  txEyH  0.705745 -0.497823  1.221170  105.280062
1  2acmU  1.334711 -0.340164  4.365080   73.037750
2  409Wp  1.022732  0.151990  1.419926   85.265647
3  iJLyR -0.032172  0.139033  2.978566  168.620776
4  Xdl7t  1.988431  0.155413  4.751769  154.036647

In [6]:
df1.head()

      id         f0         f1        f2     product
0  kBEdx -15.001348  -8.276000 -0.005876    3.179103
1  62mP7  14.272088  -3.475083  0.999183   26.953261
2  vyE1P   6.263187  -5.948386  5.001160  134.766305
3  KcrkZ -13.081196 -11.506057  4.999415  137.945408
4  AHL4O  12.702195  -8.147433  5.004363  134.766305

In [7]:
df2.head()

      id        f0        f1        f2     product
0  fwXo0 -1.146987  0.963328 -0.828965   27.758673
1  WJtFt  0.262778  0.269839 -2.530187   56.069697
2  ovLUW  0.194587  0.289035 -5.586433   62.871910
3  q6cA6  2.236060 -0.553760  0.930038  114.572842
4  WPMUX -0.515993  1.716266  5.899011  149.600746

In [8]:
df0.describe()

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        0.500419       0.250143       2.502647      92.500000
std         0.871832       0.504433       3.248248      44.288691
min        -1.408605      -0.848218     -12.088328       0.000000
25%        -0.072580      -0.200881       0.287748      56.497507
50%         0.502360       0.250252       2.515969      91.849972
75%         1.073581       0.700646       4.715088     128.564089
max         2.362331       1.343769      16.003790     185.364347

In [9]:
df1.describe()

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        1.141296      -4.796579       2.494541      68.825000
std         8.965932       5.119872       1.703572      45.944423
min       -31.609576     -26.358598      -0.018144       0.000000
25%        -6.298551      -8.267985       1.000021      26.953261
50%         1.153055      -4.813172       2.011479      57.085625
75%         8.621015      -1.332816       3.999904     107.813044
max        29.421755      18.734063       5.019721     137.945408

In [10]:
df2.describe()

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        0.002023      -0.002081       2.495128      95.000000
std         1.732045       1.730417       3.473445      44.749921
min        -8.760004      -7.084020     -11.970335       0.000000
25%        -1.162288      -1.174820       0.130359      59.450441
50%         0.009424      -0.009482       2.484236      94.925613
75%         1.158535       1.163678       4.858794     130.595027
max         7.238262       7.844801      16.739402     190.029838

In [11]:
df0.duplicated().sum()

0

In [12]:
df1.duplicated().sum()

0

In [13]:
df2.duplicated().sum()

0

Nuestros datasets están limpios, es decir, no hay valores nulos, ni duplicados.

## Entrena y prueba el modelo para cada región en geo_data_0.csv

###  Divide los datos en un conjunto de entrenamiento y un conjunto de validación en una proporción de 75:25

In [24]:
features = df0.drop(columns=['id', 'product'])  # eliminamos 'id' porque no aporta información útil
target = df0['product']

# dividir en conjunto de entrenamiento (75%) y validación (25%)
features_train, features_valid, target_train, target_valid = train_test_split(
    features, target, test_size=0.25, random_state=12345
)
# entrenar el modelo de regresión lineal en la Región 0
model = LinearRegression()
model.fit(features_train, target_train)

# hacer predicciones en el conjunto de validación
predictions = model.predict(features_valid)

### Muestra el volumen medio de reservas predicho y RMSE del modelo.

In [15]:
print(f"Volumen medio de reservas predicho: {predictions.mean():.3f}")

# Calcular el error cuadrático medio (RMSE)
rmse = mean_squared_error(target_valid, predictions, squared=False)
print(f"RMSE del modelo: {rmse:.3f}")
print()
print(f"Predicciones para la Region 0", predictions)

Volumen medio de reservas predicho: 92.593
RMSE del modelo: 37.579

Predicciones para la Region 0 [ 95.89495185  77.57258261  77.89263965 ...  61.50983303 118.18039721
 118.16939229]



### Coloca todos los pasos previos en funciones, realiza y ejecuta los pasos 2.1-2.5 para los archivos 'geo_data_1.csv' y 'geo_data_2.csv'.

In [28]:
# función para entrenar y evaluar el modelo en cada región
def train_and_evaluate(region_name, df):
    print(f"\n {region_name}")

    
    # separar características (features) y variable objetivo (target)
    features = df.drop(columns=['id', 'product'])
    target = df['product']
    
    # dividir en conjunto de entrenamiento (75%) y validación (25%)
    features_train, features_valid, target_train, target_valid = train_test_split(
        features, target, test_size=0.25, random_state=12345
    )
    
    # entrenar el modelo de regresión lineal
    model = LinearRegression()
    model.fit(features_train, target_train)
    
    # predicciones en el conjunto de validación
    predictions = model.predict(features_valid)
    
    # calculo del error cuadrático medio (RMSE)
    rmse = mean_squared_error(target_valid, predictions, squared=False)
    
    # mostrar resultados
    print(f" Volumen medio de reservas predicho: {predictions.mean():.3f} barriles")
    print(f" RMSE del modelo: {rmse:.3f}\n")
    
    # devolver las predicciones y las respuestas correctas
    return predictions, target_valid

# ejecutar la función en las regiones 1 y 2
pred_1, valid_1 = train_and_evaluate("Región 1", df1)
pred_2, valid_2 = train_and_evaluate("Región 2", df2)

# guardamos los valores predichos y reales en un diccionario
predictions_dict = {
    "Región 1": {"Predicciones": pred_1, "Valores Reales": valid_1},
    "Región 2": {"Predicciones": pred_2, "Valores Reales": valid_2},
}

# Mostrar el diccionario con los resultados
print(predictions_dict)

 Región 1
 Volumen medio de reservas predicho: 68.729 barriles
 RMSE del modelo: 0.893


 Región 2
 Volumen medio de reservas predicho: 94.965 barriles
 RMSE del modelo: 40.030

{'Región 1': {'Predicciones': array([ 82.66331365,  54.43178616,  29.74875995, ..., 137.87934053,
        83.76196568,  53.95846638]), 'Valores Reales': 71751     80.859783
80493     53.906522
2655      30.132364
53233     53.906522
91141      0.000000
            ...
12581    137.945408
18456    110.992147
73035    137.945408
63834     84.038886
43558     53.906522
Name: product, Length: 25000, dtype: float64}, 'Región 2': {'Predicciones': array([ 93.59963303,  75.10515854,  90.06680936, ...,  99.40728116,
        77.77991248, 129.03241718]), 'Valores Reales': 71751     61.212375
80493     41.850118
2655      57.776581
53233    100.053761
91141    109.897122
            ...
12581     28.492402
18456     21.431303
73035    125.487229
63834     99.422903
43558    127.445075
Name: product, Length: 25000, dtype: float64}}

### Analiza los resultados.

**Me referiré a las regiones, de acuerdo a los números de sus datasets correspopndientes, es decir, 0, 1 y 2.**

La Región 2 parece tener la mayor cantidad de reservas predichas, pero también tiene el error más alto, lo que introduce más incertidumbre.

Mientras que la Región 1 es la más estable en términos de precisión, ya que tiene el menor error RMSE, pero es la que tiene menor volumen de reservas de barriles.

## Cálculo de ganancias

### Almacena todos los valores necesarios para los cálculos en variables separadas.

Dada la inversión de 100 millones por 200 pozos petrolíferos, de media un pozo petrolífero debe producir al menos un valor de 500,000 dólares en unidades para evitar pérdidas (esto es equivalente a 111.1 unidades). Compara esta cantidad con la cantidad media de reservas en cada región.

In [29]:
total_budget = 100_000_000  # presupuesto total 100 millones de dolares
num_wells = 200  # número de pozos
revenue_per_barrel = 4.5  # ingreso por barril en dolares
min_revenue_per_well = total_budget / num_wells  # minimo ingreso por pozo para evitar pérdidas
min_units_per_well = min_revenue_per_well / revenue_per_barrel  # minimo de barriles para evitar pérdidas

In [31]:
# volumen medio de reservas reales en cada región
mean_reserves_0 = df0['product'].mean()
mean_reserves_1 = df1['product'].mean()
mean_reserves_2 = df2['product'].mean()

# comparación con el umbral de rentabilidad
comparison = {
    "Región 0": mean_reserves_0,
    "Región 1": mean_reserves_1,
    "Región 2": mean_reserves_2,
    "Mínimo requerido para evitar pérdidas": min_units_per_well
}

# se crea un DataFrame para visualizar los resultados
comparison_df = pd.DataFrame.from_dict(comparison, orient='index', columns=['Reservas Medias (barriles)'])
comparison_df

                                       Reservas Medias (barriles)
Región 0                                                92.500000
Región 1                                                68.825000
Región 2                                                95.000000
Mínimo requerido para evitar pérdidas               111111.111111

Esto significa que cada pozo debería producir al menos 111,111.11 barriles en promedio para que la inversión no genere pérdidas.

### Conclusiones sobre cómo preparar el paso para calcular el beneficio.
Para que la inversión de 100 millones de dolares sea rentable, cada pozo debe producir al menos 111.1 barriles en promedio.
Sin embargo, los datos muestran que todas las regiones tienen un promedio menor.

Por lo que la producción promedio de un pozo no es suficiente para garantizar rentabilidad en ninguna de las regiones.

Dado que el promedio de reservas no cumple el umbral, el siguiente paso será seleccionar los 200 pozos más productivos en cada región para ver si, al enfocarnos en los mejores pozos, podemos alcanzar la rentabilidad esperada.

 Objetivo: Identificar los 200 mejores pozos en cada región con las mayores reservas predichas.
 Estrategia: Ordenar los pozos por reservas estimadas y elegir los de mayor producción.

## Escribe una función para calcular la ganancia de un conjunto de pozos de petróleo seleccionados y modela las predicciones:

### Elige los 200 pozos con los valores de predicción más altos de cada una de las 3 regiones (es decir, archivos 'csv'). Resume el volumen objetivo de reservas según dichas predicciones. Almacena las predicciones para los 200 pozos para cada una de las 3 regiones. Calcula la ganancia potencial de los 200 pozos principales por región. Presenta tus conclusiones: propón una región para el desarrollo de pozos petrolíferos y justifica tu elección.

In [32]:
# función para entrenar y hacer predicciones en cada región
def train_and_predict(df):
    """
    Entrena un modelo de regresión lineal y genera predicciones para una región.
    
    Parámetros:
    - df: DataFrame con los datos de la región.
    
    Retorna:
    - Predicciones para el conjunto de validación.
    - Valores reales del conjunto de validación.
    """
    features = df.drop(columns=['id', 'product'])
    target = df['product']
    
    # dividir en conjunto de entrenamiento y validación
    features_train, features_valid, target_train, target_valid = train_test_split(
        features, target, test_size=0.25, random_state=12345
    )
    
    # entrenar modelo de regresión lineal
    model = LinearRegression()
    model.fit(features_train, target_train)
    
    # hacer predicciones en el conjunto de validación
    predictions = model.predict(features_valid)
    
    return predictions, target_valid

# función para seleccionar los 200 pozos con mayores valores predichos
def select_top_wells(predictions, target):
    """
    Selecciona los `num_wells` pozos con mayores valores predichos.
    
    Parámetros:
    - predictions: Predicciones del modelo.
    - target: Valores reales del conjunto de validación.
    
    Retorna:
    - DataFrame con los 200 pozos seleccionados.
    """
    top_indices = predictions.argsort()[-num_wells:][::-1] #[-num_wells:] selecciona los últimos 200 índices de la lista ordenada (los 200 pozos con mayor predicción)
    return target.iloc[top_indices]                        #[::-1] Ordena en orden descendente, asegurando que los índices de los pozos con mayores predicciones estén primero.

# función para calcular la ganancia de los pozos seleccionados
def calculate_profit(selected_reserves):
    """
    Calcula la ganancia total para los pozos seleccionados.
    
    Parámetros:
    - selected_reserves: Valores reales de las reservas de los pozos seleccionados.
    
    Retorna:
    - Ganancia total esperada.
    """
    return selected_reserves.sum() * revenue_per_barrel

# entrenar modelos y obtener predicciones para cada región
pred_0, valid_0 = train_and_predict(df0)
pred_1, valid_1 = train_and_predict(df1)
pred_2, valid_2 = train_and_predict(df2)

# seleccionar los 200 pozos con mayores predicciones
top_200_0 = select_top_wells(pred_0, valid_0)
top_200_1 = select_top_wells(pred_1, valid_1)
top_200_2 = select_top_wells(pred_2, valid_2)

# calcular ganancias en cada región
profit_0 = calculate_profit(top_200_0)
profit_1 = calculate_profit(top_200_1)
profit_2 = calculate_profit(top_200_2)

# almacenar y mostrar resultados
profits = {
    "Región 0": profit_0,
    "Región 1": profit_1,
    "Región 2": profit_2
}

top_predictions = {
    "Región 0": top_200_0.values,
    "Región 1": top_200_1.values,
    "Región 2": top_200_2.values
}

# determinar la mejor región para el desarrollo
best_region = max(profits, key=profits.get)

print("Ganancias esperadas en cada región:")
print(profits)
print("\nPredicciones de los 200 mejores pozos en cada región:")
print(top_predictions)
print(f"\n La mejor región para el desarrollo es: {best_region}, ya que tiene la mayor ganancia potencial.")

Ganancias esperadas en cada región:
{'Región 0': 133208.26043139852, 'Región 1': 124150.86696681511, 'Región 2': 127103.49963599832}

Predicciones de los 200 mejores pozos en cada región:
{'Región 0': array([162.81099259, 153.63983709, 162.1534881 ,  96.89358065,
       178.87951646, 130.98568123, 173.61278737,  76.18410377,
       168.47972873, 164.60822409, 155.34482021, 155.40783108,
       118.91726054, 118.48527791, 180.36377557, 159.77978358,
       128.38051461, 182.04367351, 127.90901722, 100.81333102,
        58.42064953, 139.52359252, 156.97050342, 124.52209058,
       182.22512824, 169.85908842, 157.60560086, 147.55196181,
       147.09510109, 159.40653576, 168.64449514, 142.76343751,
       150.14541181, 122.27401519, 174.19472029, 108.94173577,
       148.54060934, 158.04433996, 121.37602505, 146.20211854,
       156.90604618, 128.39250111,  99.26611933, 143.56848341,
       178.82558367, 144.11998968, 140.13665671, 165.03092297,
       162.7699428 , 154.09969866, 163.53756113, 143.93817053,
       146.55013764, 156.39936042, 179.13591458, 149.72536038,
       156.23837809, 169.17430836, 155.29822159, 156.18066055,
       181.07316994, 184.09578493, 154.10509198, 152.31569157,
       124.98763514, 179.54963733, 175.72447144, 142.90935628,
       181.99823204, 135.1453754 , 155.472321  , 134.27282506,
       150.69458599, 179.76379309, 130.11352286, 154.78707142,
       144.44254321, 124.12315144,  42.09231402, 105.8796695 ,
       148.24260769, 140.11505755, 174.94257761, 158.86494124,
       162.04164319, 109.95163035, 169.21690636, 111.05933375,
       158.85666142, 146.19060017, 126.51664752, 171.49155387,
       120.52021532, 160.74280335, 152.41687788, 158.24942985,
       168.33770557, 165.65990214, 151.90018062, 174.49042842,
       173.51730494, 107.11408147, 123.30685484, 120.73311635,
       155.70693386, 151.81940368, 111.03805294, 168.48399526,
       126.84221084, 148.01029751, 137.03070107, 173.23339294,
       158.43620638, 159.18803468, 158.08266662, 181.67951363,
       147.57427563, 123.72534098, 141.09274907, 161.84022956,
       156.93798743, 172.21605585, 132.08276012,  88.8724773 ,
       173.60373251, 148.65776304, 164.5655129 , 147.26707094,
       128.87202539, 147.66260223, 156.07068938, 179.37163129,
       169.8340187 , 183.5521585 , 112.094873  , 146.47457636,
       170.31608003, 154.61921702, 127.54014368, 173.08690386,
       147.27167375, 168.94197755, 184.35645537, 175.94741437,
       122.70707177, 141.24435972,  91.01034137, 107.71737189,
       158.5172461 , 150.1322962 , 141.8903036 , 146.46953625,
        72.65335331, 132.72120702,  88.3477881 , 172.32600686,
       176.11296234, 155.57155193, 138.03959308, 135.75424664,
       130.0327708 , 181.85700852, 137.925302  , 125.62021184,
       171.47256238, 182.37804239, 169.05304389, 141.25289229,
       161.92478213, 151.91156792, 173.64443327, 172.40595815,
       129.72363181, 142.96031704, 150.93420206, 124.74082482,
       160.8924009 , 164.59824673, 150.08261644, 148.58533516,
       132.28400553, 136.86336774, 176.04890481, 149.91201693,
       127.43239061, 178.48721213, 177.63571383, 133.93787782,
       175.20609409, 148.01051446, 135.41918962, 166.89044699,
       145.53358705, 163.62889589, 162.49586539, 179.68342245,
        95.39691722, 160.36146419, 102.18660287, 119.8902608 ]), 'Región 1': array([137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774,
       137.94540774, 137.94540774, 137.94540774, 137.94540774]), 'Región 2': array([175.10329115, 131.62748144, 141.16006951, 159.67608247,
       142.13520281,  90.98019346, 170.54490328, 166.75733767,
       183.84145957, 100.1017632 , 133.30134744,  97.99549896,
       107.47196422, 118.77268606, 157.46826347, 174.24490441,
       164.36051316, 113.99341311, 168.1582641 , 146.12801604,
       127.13411538, 134.21770256, 175.33428149, 125.09996066,
       123.99173815, 113.49222582, 173.04769767, 147.79629998,
       163.25851694, 141.21514869, 129.6605643 , 125.22139468,
       156.00715716, 150.0522773 , 124.44422067, 112.52361037,
       104.0431339 , 157.46528217, 139.92047181, 136.60693941,
       178.58085641, 138.90645488, 133.43649474, 154.80965443,
       127.05047357, 118.82540357, 189.12432969, 122.05981334,
       124.20969654, 137.7973264 ,  74.34979283, 167.62982203,
       121.85836246,  88.35089017,  82.86362905, 158.17823131,
       134.06633331, 161.58835352, 151.97574195, 169.70452348,
       137.16368473,  87.25960569, 144.84344165, 120.44300964,
        73.16774509, 185.22866442, 128.56762268, 178.52444037,
       151.147154  , 176.86871483, 128.04671945, 160.40426641,
       141.09660292, 159.34889721, 171.30795765, 142.82680876,
       164.91110237, 163.59344027, 135.01946881, 149.34307007,
       151.82220459,  83.84419752, 185.80478957, 136.6259435 ,
       158.55152174, 135.76031792, 183.54153872, 175.46564542,
       163.50560292,  95.48023772, 105.71378954, 157.14541534,
       149.46764497, 137.39314925, 168.10475165, 139.82453136,
       173.19060435,  75.53006028, 157.59448057, 159.98451191,
       132.44556149, 121.42727423, 185.80136704, 120.79168767,
       177.6949252 , 173.05875804, 149.65677147, 181.40071735,
       156.70539573, 131.2419819 , 118.58638919, 148.1013254 ,
       152.34199616, 181.85042483, 151.70181213, 174.41816545,
       154.0104749 , 113.24828148, 149.80056956, 162.14727598,
       137.10892518, 124.52887861,  98.84144799, 154.53093356,
       155.32550019, 179.19661495, 156.89069535, 117.10526211,
       105.62067581, 122.34860669, 144.08124975, 163.10152766,
       150.87914165, 134.21953257, 158.80685322, 153.31217973,
       141.72194102, 123.97293666, 148.00675148, 156.35493722,
       131.41374598, 130.28550685, 106.76387345, 136.10138854,
       148.15906923, 138.17843985, 173.86321986, 172.79917685,
       185.13202575, 109.29479425, 130.19365714, 107.82807008,
       128.66505814, 132.94817538, 175.58076485, 119.17082895,
        39.7565888 , 147.2745914 , 152.81166138, 118.93857629,
        89.74160673, 184.93666656, 112.01368888, 145.81988909,
        81.7429936 , 155.9881975 , 128.76733241, 160.01097926,
       174.5573021 ,  99.0881914 , 134.64940315, 150.86988253,
       183.53504238, 155.11951754, 124.60484983, 133.95762803,
       134.71469308, 111.76428642,  76.85890322, 166.85648693,
       141.3804727 , 180.2059283 , 177.34484342, 140.94363346,
       173.79753549,  82.22610126, 188.04578004, 127.96278927,
       150.71629157, 183.76470321, 136.91489905, 154.55494769,
       127.37694397, 137.21985569, 105.11520304, 104.94956814,
        89.4924996 , 184.89510124, 137.48046944, 134.50714024])}

 La mejor región para el desarrollo es: Región 0, ya que tiene la mayor ganancia potencial.

<div class="alert alert-block alert-success">  
<b>Comentario del revisor</b> <a class="tocSkip"></a><br>  
<b>Éxito</b> - Muy bien estructurada la implementación de funciones para seleccionar los mejores pozos y calcular la ganancia potencial. La estrategia de ordenar los pozos por predicciones y evaluar su rentabilidad es sólida y bien fundamentada. 
</div>

## Calcula riesgos y ganancias para cada región:
Utilizando las predicciones que almacenaste en el paso 4.2, emplea la técnica del bootstrapping con 1000 muestras para hallar la distribución de los beneficios.

In [20]:
# función para realizar bootstrapping
def bootstrap_profit(target_values):
    """
    Realiza bootstrapping con 1000 muestras para calcular la distribución de ganancias.
    
    Parámetros:
    - target_values: Valores reales de reservas de los pozos seleccionados.
    
    Retorna:
    - Lista de ganancias obtenidas en 1000 simulaciones.
    """
    bootstrap_profits = []
    for _ in range(1000):  # 1000 iteraciones de bootstrapping
        sample = target_values.sample(n=num_wells, replace=True)  # Selección con reemplazo
        bootstrap_profits.append(calculate_profit(sample))
    return bootstrap_profits

# aplicar bootstrapping en cada región
bootstrap_results = {
    "Región 0": bootstrap_profit(top_200_0),
    "Región 1": bootstrap_profit(top_200_1),
    "Región 2": bootstrap_profit(top_200_2)
}

# mostrar distribución de beneficios con bootstrapping
print("\nDistribución de beneficios con bootstrapping:")
for region, values in bootstrap_results.items():
    mean_profit = np.mean(values)
    lower_bound = np.percentile(values, 2.5)  # Percentil 2.5%
    upper_bound = np.percentile(values, 97.5) # Percentil 97.5%
    
    print(f"{region}: Media = ${mean_profit:,.2f}, Intervalo de Confianza 95% = (${lower_bound:,.2f}, ${upper_bound:,.2f})")

Distribución de beneficios con bootstrapping:
Región 0: Media = $133,212.76, Intervalo de Confianza 95% = ($130,006.42, $136,204.63)
Región 1: Media = $124,150.87, Intervalo de Confianza 95% = ($124,150.87, $124,150.87)
Región 2: Media = $127,117.89, Intervalo de Confianza 95% = ($123,589.47, $130,623.80)

La Región 0 tiene la mayor ganancia esperada, por ende la hace la mas rentable.

### Encuentra el beneficio promedio, el intervalo de confianza del 95% y el riesgo de pérdidas. La pérdida es una ganancia negativa, calcúlala como una probabilidad y luego exprésala como un porcentaje.

In [33]:
# función para realizar bootstrapping y calcular el riesgo de pérdidas
def bootstrap_profit(target_values, num_samples=1000):
    bootstrap_profits = []
    
    for _ in range(num_samples):
        sample = target_values.sample(n=num_wells, replace=True)  # selección con reemplazo
        bootstrap_profits.append(calculate_profit(sample))
    
    mean_profit = np.mean(bootstrap_profits)  # beneficio promedio
    lower_bound = np.percentile(bootstrap_profits, 2.5)  # intervalo inferior (2.5%)
    upper_bound = np.percentile(bootstrap_profits, 97.5) # intervalo superior (97.5%)

    # calcular el riesgo de pérdida (probabilidad de que la ganancia sea menor que la inversión)
    loss_risk = np.mean(np.array(bootstrap_profits) < total_budget) * 100  # expresado en porcentaje

    return mean_profit, lower_bound, upper_bound, loss_risk

# aplicar bootstrapping en cada región
bootstrap_results = {
    "Región 0": bootstrap_profit(top_200_0),
    "Región 1": bootstrap_profit(top_200_1),
    "Región 2": bootstrap_profit(top_200_2)
}

# mostrar distribución de beneficios con bootstrapping
print("\n Distribución de Beneficios con Bootstrapping:")
for region, values in bootstrap_results.items():
    mean_profit, lower_bound, upper_bound, loss_risk = values
    print(f"{region}: Media = ${mean_profit:,.2f}, Intervalo 95% = (${lower_bound:,.2f}, ${upper_bound:,.2f}), Riesgo de pérdida = {loss_risk:.2f}%")

 Distribución de Beneficios con Bootstrapping:
Región 0: Media = $133,250.66, Intervalo 95% = ($130,066.35, $136,415.56), Riesgo de pérdida = 100.00%
Región 1: Media = $124,150.87, Intervalo 95% = ($124,150.87, $124,150.87), Riesgo de pérdida = 100.00%
Región 2: Media = $127,082.31, Intervalo 95% = ($123,723.61, $130,641.44), Riesgo de pérdida = 100.00%

Todas las regiones tienen un riesgo de pérdida del 100%, lo que significa que la inversión de 100 millones nunca se recupera completamente en ninguna de ellas.

### Presenta tus conclusiones: propón una región para el desarrollo de pozos petrolíferos y justifica tu elección. ¿Coincide tu elección con la elección anterior en el punto 5.1 (de acuerdo a mi indice)?

En el punto 5.1 (cuando solo analizamos ganancias sin evaluar el riesgo), la Región 0 tenía la mayor ganancia esperada, lo que la hacía la mejor opción.

Sin embargo, al incluir la evaluación de riesgos, observamos que todas las regiones presentan un riesgo del 100%, lo que cambia la perspectiva. Es decir, no se recomienda proceder con la inversión.